/*  your css code here. If applicable */
:root{
	--body-background:skyblue;
	--first-para-background:black;
	--last-para-color:red;
}
*{
	margin:0;
	padding:0;
}
html{
	background-color: var(--body-background);
}
.f-para{
	background-color:var(--first-para-background);
	color:#fff;
}
.l-para{
	color:var(--last-para-color);
}
li:first-child{
	background-color:pin
}

